In [2]:
List1 = [ 'Ramesh', 'Suresh', 'Mahesh', 'Ali' , 'Jacob' , 'Saritha' ]
List2= [ 'Ali', 'Mukesh', 'Mahesh', 'Jacob' , 'Sai' , 'Saritha']

for lst1Item in List1:
  for lst2Item in List2:
    if lst2Item == lst1Item:
      print(lst2Item);

Mahesh
Ali
Jacob
Saritha

In [3]:
string1='Ramesh Suresh Mohith'
personNames = string1.split()  #list1
Ages = [25,22,26]  #list2
 
for (a, b) in zip(personNames, Ages):
     print ( a,':',b)

Ramesh : 25
Suresh : 22
Mohith : 26

In [4]:
Name = 'Sam', 'Jacy', 'Tom','Steve'
Python = 25,26,29,28
Statistics = 23,21,19,25
SQL = 29,27,28,25

var = 0
for num in Python:
  var = var + num   
print('PythonMean:', var/len(Python))
var = 0
for num in Statistics:
  var = var + num   
print('StatisticsMean:', var/len(Statistics))
var = 0
for num in SQL:
  var = var + num   
print('SQLMean:', var/len(SQL))
#maxMean = max( var/len(Python) ,var/len(Statistics) , var/len(SQL) )
print('Highiest mean is:' ,  max( var/len(Python) ,var/len(Statistics) , var/len(SQL) ))

maxMarksinPython = max(Python)

for i in range(len(Python)):
  marks = Python[i]
  if marks == maxMarksinPython:
    name  = Name[i]
    print('Highest marks in python is', name, marks)

PythonMean: 27.0
StatisticsMean: 22.0
SQLMean: 27.25
Highiest mean is: 27.25
Highest marks in python is Tom 29

In [5]:
paracetamolStrips =2
azithromycinStrips = 3
VitminCStrips =5
paracetamolcost =35
azithromycinCost =49
VitiminCCost =33
PatientTotalMoney = 2000

print('TotalCostOfParacetamol :' , paracetamolStrips *paracetamolcost)
print('ToalCostOfAzithromycin :', azithromycinStrips *  azithromycinCost)
print('TotalCostOfVitaminC :', VitminCStrips * VitiminCCost)
TotalMedicineCost = paracetamolStrips *paracetamolcost + azithromycinStrips *  azithromycinCost +VitminCStrips * VitiminCCost;
print('TotalMedicineCost :', TotalMedicineCost)
print('PatientTotalMoney:', PatientTotalMoney)
print('RefundedAmountTothePatientis:' ,PatientTotalMoney -TotalMedicineCost)

TotalCostOfParacetamol : 70
ToalCostOfAzithromycin : 147
TotalCostOfVitaminC : 165
TotalMedicineCost : 382
PatientTotalMoney: 2000
RefundedAmountTothePatientis: 1618

In [7]:
Inputstring = input("Enter any string: ")
VowelsCount=0
for i in Inputstring.lower():
      if(i=='a' or i=='e' or i=='i' or i=='o'):
            VowelsCount=VowelsCount+1

print("Number of vowels are:" ,VowelsCount)

Enter any string: I am learning python
Number of vowels are: 6

In [8]:
Inputstring = int(input("Please enter your Age: "))
EligibiltyAge =18
if Inputstring>0 and Inputstring < 110:
 if Inputstring >= EligibiltyAge :
   print('Congrats! You are eligiable')
 else:
    diff = EligibiltyAge-Inputstring
    print('return after', diff , 'years')
else:
  print('Please enter valid Date.Entered age should be grater than 0 and lessthan 110')

Please enter your Age: 10
return after 8 years